* {
  box-sizing: border-box;
}

body {
  /* background-color: rgb(139, 87, 85); */
  background-image: url("rain.jpg");
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.2);
  background-blend-mode: multiply;
}

header img {
  border-radius: 50%;
  height: 25px;
  width: 25px;
}

header li {
  display: block;
  padding: 0;
  margin: 0;
}

.language {
  padding: 0;
  margin: 0;
  position: right;
  top: 0;
  left: 0;
  text-align: right;
}

.box {
  display: relative;
  height: 100%;
  width: 100%;
  text-align: center;
  padding: 0;
  font-size: 28px;
}

.box h2 {
  margin-top: -20px;
}

.box p {
  font-size: 22px;
  margin-top: -25px;
}

.box2 {
  display: inline-flex;
}
